.logo {
    color: #339FCD;
}

.skills-card {
    z-index: +1;
    position:relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #888888;
    margin-top: -200px; 
    padding: 70px;
    padding-bottom: 30px;
}

.skill-logo {
    height: 75px;
    width: auto;
}

/* Parent Container */
.logos{
    position: relative;
   }
   
   /* Child Text Container */
   .logos div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   /* Hover on Parent Container */
   .logos:hover{
    cursor: pointer;
   }
   
   .logos:hover div{
    width: 100px;
    height: 100px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
   }