/* when mouse over chagne to coloured profile pic */
.portrait {
    /* display: block;
    background: url(../img/profilePic.PNG) no-repeat;
    transition: 1s ease-in-out;
    margin-left: auto;
    margin-right: auto; */
}