 
@media (max-width: 550px) {
    .portrait {
      width: 90vw;
    }
    .personalProjects {
      width: 90vw;
    }
    .project:hover div{
      width: 90vw;
    }
    .intro {
      height: 600px;;
    }
  }
}