.contact-btn {
    background-color: white;
    border-color: #339FCD;
    color: #339FCD;
    border-radius: 50px;
    border-width: 2px;
    font-weight: 500;
    width: 130px;
}

.contact-btn:hover {
    background-color: #339FCD;
    border-color:  #339FCD;
    color: white;
}